* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}


.logo {
    width: 90px;
}

.acordeon {
    width: 600px;
}

.colorWan {
    background-color: #2274b7
}

.mistyle {
    font-size: 25px;
    color: #000000;
}

.rojo {
    color: brown;
}

.index {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(84, 84, 84, 1) 0%, rgba(255, 255, 255, 0) 75%, rgba(180, 180, 180, 1) 100%);
}

.five {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(84, 84, 84, 1) 0%, rgba(61, 181, 252, 0.6474964985994398) 0%, rgba(180, 180, 180, 1) 100%);
}

.mistyle li:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: rgb(170, 169, 169)
}

.carrus img {
    border-radius: 50px;
}


.tittle {
    text-align: center;
    font-size: 40px;
    color: #125e9c;
    margin-top: 20px;
    margin-bottom: 10px;

}

.titulologo {
    margin-top: 10px;
}


.contenedorC {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;


}

.contenedorC .cards {
    width: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: white;
}

.contenedorC .cards:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedorC .cards img {
    width: 330px;
    height: 220px;
    object-fit: contain;
    margin-top: 10px;
}

.contenedorC .cards h4 {
    font-weight: 600;
    margin-top: 10px;
}

.contenedorC .cards p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;

}

.contenedorC .cards a {
    font-weight: 500;
    text-decoration: none;
    color: brown;
}


.nox1 {
    width: 350px;
    height: 405px;
    object-fit: contain;

}

.bab1 {
    width: 400px;
    height: 385px;
    object-fit: contain;

}


.custom-footer {
    background-color: #2274b7;
    padding: 20px 0;
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
}

.custom-footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.custom-footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-footer .footer-logo img {
    width: 100px;
    height: auto;
}

.custom-footer .footer-info {
    text-align: center;
}

.custom-footer .footer-info p {
    margin: 5px 0;
}

.custom-footer .footer-social a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}

.custom-footer .footer-social a:hover {
    color: #007bff;
}


.promos {
    margin-top: 80px;
    margin-bottom: 50px;

}


.promos p {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top: 30px;
    padding: 40px;

}

.promos img {
    width: 400px;
    height: 200px;
    padding: 40px;
    margin: 0;
}


.history {
    border: 5px #9c9c9c solid;
    border-radius: 20px;
    padding: 100px;
    margin: 20px 20px 20px 20px;

}

.history h3 {
    text-align: center;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    color: #125e9c;

}

.history p {
    word-spacing: 0.5px;
    text-align: justify;
    font-size: 28px;
    margin-top: 30px;
}


.formulario {
    margin-top: 70px;
    margin-bottom: 90px;

}

.form {
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 30px 1px black;
    padding: 10px;
    max-width: 540px;
    margin: 10px auto;
    text-align: center;
}


.container-boton {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 10px;
    padding: 25px;
    transition: ease 0.3s;

}

.container-boton:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.boton {
    width: 80px;
    transition: ease 1s;
}


@media only screen and (max-width: 768px) {

    .custom-footer .footer-logo img {
        width: 80px;

    }


    .container .logo {
        width: 80px;
    }

    .tittle {
        font-size: 30px;
    }

    .promos p {
        color: rgb(0, 0, 0);
        font-size: 30px;
        margin-top: 20px;
        padding: 20px;

    }

    .promos img {
        width: 300px;
        height: 150px;
        padding: 30px;

    }

    .history {
        border: 10px #666565 solid;
        border-radius: 20px;
        padding: 80px;
        margin: 30px 30px 30px 30px;
        max-width: 800px;


    }

    .history p {
        font-size: 20px;
    }

    .history h3 {
        text-align: center;
        font-size: 20px;
        padding: 0px;
        color: #125e9c;
    }

    .formulario {
        margin: 20px 30px 20px 30px;
        max-width: 700px
    }
}

@media only screen and (max-width: 500px) {

    .container .logo {
        width: 60px;
    }

    .custom-footer .footer-logo img {
        width: 60px;

    }


    .tittle {
        font-size: 20px;
    }

    .promos p {
        color: #125e9c;
        font-size: 20px;
        margin-top: 10px;
        padding: 10px;

    }

    .promos img {
        width: 200px;
        height: 100px;
        padding: 20px;
    }

    .history {
        border: 10px #666565 solid;
        border-radius: 10px;
        padding: 50px;
        margin: 20px 20px 20px 20px;
        max-width: 600px;


    }

    .history p {
        font-size: 13px;
    }

    .history h3 {
        text-align: center;
        font-size: 15px;
        padding: 0px;
        color: #125e9c
    }

    .formulario {
        margin: 20px 30px 20px 30px;
        max-width: 550px
    }
}